<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<!--connectionString="Data Source=SLB;Initial Catalog=SistemaPuntoDeVenta;Persist Security Info=True;User ID=slopezb;Password=Santy990*++;Trust Server Certificate=True"-->
		<add name="ConexionSQL"
			 connectionString="Data Source=SLB;Initial Catalog=SistemaPuntoDeVenta;Persist Security Info=True;User ID=slopezb;Password=Santy990*++"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>